body {
  text-align: center;
  box-sizing: border-box;
}
h1, h3, h4 {
  font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

#button {
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  padding: 10px 40px;
  font-size: 1.5em;
  border-radius: 20px;
  border: 3px solid;
  max-width: 300px;
}

.grid {
  border: solid 5px;
  display: flex;
  flex-wrap: wrap;
  height: 360px;
  width: 360px;
  margin: 0 auto;
}

.grid div {
  height: 40px;
  width: 40px;
  background-size: cover;
}

.grass {
  background-color: green;
  background-image: url(images/grass.png);
}

.goal {
  background-color: gold;
  background-image: url(images/checkered-flag.png);
}

.r1, .r2 {
  background-color: lightblue;
  background-image: url(images/river.jpeg);
}

.l1, .l2, .l3 {
  background-color: brown;
  background-image: url(images/log.png);
}

.road1, .road2, .road3, .road4 {
  background-color: darkgrey;
  /* background-image: url(images/road.jpeg); */
}

.road1, .road2 {
  border-bottom: dashed yellow 1px;
  padding-bottom: 2px;
}

.road3, .road4 {
  padding-top: 2px;
  /* border-top: yellow dashed 1px; */
}

.car-left {
  background-color: black;
  background-image: url(images/car-facing-left.png);
  padding-bottom: 2px;
}

.car-right {
  background-color: black;
  background-image: url(images/car-facing-right.png);
  padding-top: 2px;
}

.starting-point {
  background-color: orange;
}

.frog {
  background-color: darkgreen;
  background-image: url(images/frog.png);
}

