body {
  text-align: center;
  box-sizing: border-box;
  background: linear-gradient(25deg, olive, lightgreen);
  height: 95vh;
}
h1, h3, h4 {
  font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  margin: 5px auto;
}

h1 {
  font-size: 3em;
}

h3 {
  font-size: 2em;
}

#button {
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  padding: 10px 40px;
  font-size: 1em;
  border-radius: 20px;
  border: 3px solid;
  max-width: 300px;
}

.grid {
  border: solid 5px;
  display: flex;
  flex-wrap: wrap;
  height: 270px;
  width: 270px;
  margin: 0 auto;
  padding: 10px;
}

.grid div {
  height: 30px;
  width: 30px;
  background-size: cover;
}

.grass {
  background-color: green;
  background-image: url(images/grass.png);
}

.goal {
  background-color: gold;
  background-image: url(images/checkered-flag.png);
}

.r1, .r2 {
  background-color: lightblue;
  background-image: url(images/river.jpeg);
}

.l1, .l2, .l3 {
  background-color: brown;
  background-image: url(images/log.jpeg);
}

.road1, .road2, .road3, .road4 {
  background-color: darkgrey;
  /* background-image: url(images/road.jpeg); */
}

.road1, .road2 {
  border-bottom: dashed yellow 2px;
  padding-bottom: 2px;
}

.road3, .road4 {
  padding-top: 2px;
  /* border-top: yellow dashed 1px; */
}

.car-left {
  background-color: black;
  background-image: url(images/car-facing-left2.jpeg);
  background-position: center;
  padding-bottom: 2px;
}

.car-right {
  background-color: black;
  background-image: url(images/car-facing-right.png);
  padding-top: 2px;
}

.splat {
  background-color: red;
  background-image: url(images/splat.webp);
}

.river-death {
  background-color: blue;
  background-image: url(images/death.jpeg);
}

.win {
  background-color: purple;
  background-image: url(images/trophy.jpeg);
}

.victory-div {
  width: 40%;
  margin: 0 auto;
  background-image: url(images/frog-victory.jpeg);
  background-size: cover;
}
.starting-point {
  background-color: orange;
  background-image: url(images/start.png);
}

.frog {
  background-color: darkgreen;
  background-image: url(images/frog.png);
}